### Import library

In [1]:
import pandas as pd                   
import matplotlib.pyplot as plt        
import seaborn as sns           
from sklearn.linear_model import LinearRegression

### Prepare Data

In [2]:
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')
train_labels = train_labels.Survived

test_features = pd.read_csv('test_features.csv')
test_labels = pd.read_csv('test_labels.csv')
test_labels = test_labels.Survived
test_features

,Pclass,Sex,Age,Fare,Family_size,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,3,1,29.699118,15.2458,2,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,1,31.000000,10.5000,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,1,20.000000,7.9250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2,0,6.000000,33.0000,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,0,14.000000,11.2417,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,3,1,17.000000,7.1250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
175,3,1,29.699118,7.2250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
176,3,0,38.000000,31.3875,6,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
177,2,0,17.000000,10.5000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
178,3,0,4.000000,16.7000,2,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1

### Train model

In [3]:
lr = LinearRegression().fit(train_features[['Age','Pclass']].values, train_features['Fare'].values)
print(
    'Score on training data: ' 
    + str("{:.2%}".format(lr.score(train_features[['Age','Pclass']].values, train_features['Fare'].values))))

Score on training data: 30.82%

In [4]:
lr.intercept_, lr.coef_

(129.58689581776744, array([ -0.40443714, -36.50309599]))

### Testing model

In [5]:
print(
    'Score on training data: ' 
    + str("{:.2%}".format(lr.score(test_features[['Age','Pclass']].values, test_features['Fare'].values))))

Score on training data: 31.96%

In [6]:
lr.predict(test_features[['Age','Pclass']].values)

array([ 8.06618174, 44.04315259, 11.98886512, 54.15408102, 14.41548794,
       82.56843426,  8.06618174, 13.60661367, 13.60661367, 85.39949422,
       78.11962575,  2.28237382,  8.06618174,  7.94449374, 42.02096691,
       86.61280564, 76.09744007,  8.06618174, 45.66090114, 74.07525438,
       10.37111657, 79.33293717, 12.39330225, 11.98886512,  8.06618174,
       16.03323649, 76.90631434, 44.04315259, 18.45985931,  7.54005661,
       12.39330225, 11.17999084, 81.07237371,  8.06618174, 12.79773939,
        9.15780516, 81.75955999,  8.06618174, 80.95068571,  8.06618174,
       48.08752396,  8.34893088,  8.06618174,  8.06618174,  1.87793668,
       13.60661367, 12.39330225, 10.7755537 , 10.37111657, 69.62644587,
       18.05542218, 72.05306869,  3.90012237, 88.63499132, -6.21080606,
       85.80393136, 43.63871545, 72.86194297, 42.42540404, 12.39330225,
       11.58442798, 51.32302106, 45.256464  , 81.07237371,  8.06618174,
       33.52778702, 48.08752396,  8.34893088, 13.20217653, 72.05306869,
       46.06533828, 85.80393136, 82.56843426, 77.31075148, 10.7755537 ,
        5.51787092,  7.74227518, 84.18618281, 41.21209263,  3.49568523,
       13.60661367, 44.85202687, 76.90631434,  8.06618174, 70.43532015,
       64.36876309, 80.54624858, 80.95068571, 77.71518862,  8.06618174,
       16.43767363, 16.43767363, 68.41313446,  8.06618174,  8.06618174,
        8.75336802, 73.67081724,  1.87793668, 42.02096691,  9.15780516,
       67.19982305,  5.92230806, 85.39949422,  4.70899665,  7.74227518,
        9.96667943, 40.40321836, 74.07525438,  7.94449374, 76.90631434,
       81.07237371, 11.78664655, 81.07237371, 78.52406289, 81.07237371,
       11.98886512, 64.36876309, 42.02096691, 47.68308683,  0.66462527,
       47.27864969, 80.14181144, 67.60426018, 56.24502102,  9.96667943,
       78.92850003, 73.26638011, 83.37730854,  8.06618174, 11.58442798,
        8.06618174,  8.06618174, 44.56927773, 18.05542218, 73.26638011,
       14.0110508 , 81.07237371,  8.34893088,  3.0912481 , 12.79773939,
       11.58442798, 38.78546981, 45.256464  , 41.61652977,  4.30455951,
       42.82984118, 44.44758973, 29.88785279, 81.07237371,  2.68681096,
        8.06618174, 10.37111657, 12.79773939,  8.06618174,  8.06618174,
        8.06618174,  8.06618174,  8.06618174, 42.02096691,  7.13561947,
       10.57333514, 81.07237371, 40.80765549, 81.07237371,  8.06618174,
       66.79538591, 47.27864969, 81.07237371, 11.17999084,  5.92230806,
       83.78174568, 49.30083538, 78.52406289, 16.43767363, 13.20217653,
        8.06618174,  4.70899665, 49.70527251, 18.45985931])