### Import Library

In [1]:
import pandas as pd     
import numpy as np
import seaborn as sns
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu

### Prepare Data

In [2]:
test_features = pd.read_csv('test_features.csv')
test_features = test_features[['Age','Fare']]
test_features.head(10)

         Age     Fare
0  29.699118  15.2458
1  31.000000  10.5000
2  20.000000   7.9250
3   6.000000  33.0000
4  14.000000  11.2417
5  26.000000  78.8500
6  29.699118   7.7500
7  16.000000  18.0000
8  16.000000   7.7500
9  19.000000  26.2833

### Conduct Paired Samples t Test

In [3]:
stat, p = ttest_rel(test_features['Age'], test_features['Fare'])
p

0.907802861064716

### Conduct Independent t Test

In [4]:
stat, p = ttest_ind(test_features['Age'], test_features['Fare'])
p

0.9115097929446112

### Conduct Pairwise Wilcoxon Rank Sum Test

In [5]:
stat, p = wilcoxon(test_features['Age'], test_features['Fare'])
p

0.002009088293000599

### Conduct MannWhitney U Test

In [6]:
stat, p = mannwhitneyu(test_features['Age'], test_features['Fare'])
p

6.150572428208045e-08